<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>Welcome {{user.full_name()}}!</h1>
    <form action="/logout" method="post">
        <input type="hidden" name="id" value={{user.id}}>
        <input type="submit" value="Logout">
    </form>
</body>
</html>